body {
    margin: 0;
    padding: 0;
}

header {
    display: inline-block;
    width: 1903px;
    height: 90px;
    background-color: lightblue;
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav_wrapper {
    width: 70%;
}

.name_logo {

}